<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Заголовок</title>
    <style>
        body {background-color: rgb(80, 255, 147);}
        h1 {color: rgb(97, 179, 204); font-size: 2em;}
        p {color: rgb(140, 88, 182); font-size: 1.1em;}
    </style>
  </head>
  <body>
    <h1>News #<%= newsId%></h1>
    <h2>Title <%= obj.title + ' ' + obj.id%></h2>
    <p>
        randomNumber <%= randomNumber %>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo,
      pariatur.Maiores iusto ea corrupti alias dolorem eos nam, nisi suscipit.
    </p>
    <ul>
        <% obj.par.forEach((item) => { %>
            <li><%= item%></li>
       <% }); %>
    </ul>
  </body>
</html>